@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

/* src/styles.css */
:root {
  --primary-clr: #FFFFFF;
  --text-clr: #000000;
  --gradient:
    linear-gradient(
      180deg,
      #00a6ff 0%,
      #006CFF 100%);
  --box-shadow-clr: #0000001A;
}
html {
  overflow-x: hidden;
}
#ues-minimized-ui {
  top: 93%;
  left: 10px;
  cursor: pointer;
}
#ues-minimized-ui > img {
  user-select: none;
}
#ues-draggable-ui *:not(.bx) {
  font-family: "Poppins", sans-serif !important;
}
#ues-draggable-ui * {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
#ues-draggable-ui {
  position: absolute;
  z-index: 9999;
  width: 325px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  transition: opacity 250ms ease-in-out;
  line-height: 1.5;
  opacity: 1;
  transform: scale(0.9);
}
#ues-minimized-ui {
  position: absolute;
  z-index: 1000;
  border-radius: 100%;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
#ues-header-draggable-ui {
  padding: 10px;
  cursor: move;
  z-index: 99999999;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--primary-clr) !important;
  color: var(--text-clr);
  display: flex;
  gap: 10px;
  align-items: center;
  height: 75px;
}
#ues-content-draggable-ui {
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -1px 3px 9px var(--box-shadow-clr) inset;
  background-color: var(--primary-clr);
  z-index: -2;
  position: relative;
}
.r-logo {
  height: 60px;
  border-radius: 50%;
}
body {
  font-family: "Poppins", sans-serif;
}
.main-container.dark-mode .header {
  background: #242526;
  box-shadow: 0px 4px 24px 0px #000000BF;
}
.main-container.dark-mode .brand-name h3 {
  color: #fff;
}
.main-container.dark-mode .brand-name p {
  color: #fff;
}
.main-container.dark-mode .brand-name p span {
  color: #fff;
}
.main-container.dark-mode .footers {
  background: #242526;
  box-shadow: 0px 4px 24px 0px #000000BF;
}
.main-container.dark-mode .lightbtn {
  border: 2px solid #323232;
  background: #242526;
  color: #A6A6A6;
}
.main-container.dark-mode .darkbtn {
  background: #242526;
  border: 2px solid #006CFF;
  color: #006CFF;
}
.main-container.dark-mode .close-accordion,
.main-container.dark-mode .btn2 {
  background: #242526;
  border: 0px solid #0000001A;
  box-shadow: 0px 4px 8px 0px #0000001A;
  color: #fff;
}
.main-container.dark-mode .auto-btn:hover {
  background: #2a2b2c;
}
.main-container.dark-mode .btn2:hover {
  background: #3b465e;
}
.main-container.dark-mode .lightimg {
  display: none;
}
.main-container.dark-mode .darkimg {
  display: block;
}
.main-container {
  width: 375px;
  border-radius: 31px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.header {
  width: 375px;
  height: 95px;
  border-radius: 31px 31px 0px 0px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 0 20px;
  box-shadow: 0px -4px 24px 0px #00000040;
  cursor: grab;
}
.header .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .control-box {
  position: absolute;
  right: -13px;
  filter: drop-shadow(0px 4px 24px #00000040);
}
.header .control-box .minimize {
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 12px;
}
.logo h1 {
  font-weight: bold;
  font-size: 44px;
  border-right: 2px solid #858585;
  padding-right: 10px;
  color: #161616;
  margin: 0;
}
.brand-name {
  padding-left: 10px;
}
.brand-name h3 {
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  margin: 0px;
  height: auto;
  font-size: 16px;
  text-align: left;
}
.brand-name p {
  font-family: Poppins;
  font-weight: 600;
  line-height: 21px;
  color: #545454;
  margin: 0px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.brand-name p span {
  color: #545454;
}
.footers {
  width: 375px;
  border-radius: 0px 0px 31px 31px;
  box-shadow: 0px 4px 24px 0px #00000040;
  background: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}
.main-section {
  max-height: calc(591px - 210px);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 15px;
  position: relative;
  z-index: -1;
}
.lightbtn {
  border: 2px solid #006CFF;
  padding: 9px 15px 9px 37px;
  border-radius: 11px;
  color: #006CFF;
  margin-right: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  display: inline-block;
  height: auto;
  position: relative;
}
.lightbtn:hover,
.darkbtn:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
}
button.lightbtn svg {
  position: absolute;
  left: 6px;
  top: 6px;
}
.darkbtn {
  border: 2px solid #DDDDDD;
  padding: 9px 15px 9px 37px;
  border-radius: 11px;
  color: #999999;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  display: inline-block;
  height: auto;
  position: relative;
}
button.darkbtn svg {
  position: absolute;
  left: 6px;
  top: 6px;
}
.copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #999999;
  cursor: default;
}
.menu-icon p {
  padding: 0;
  margin: 0;
}
.menu-icon {
  margin-top: 10px;
}
.close-accordion {
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 0px solid #0000001A;
  border-radius: 12px;
  padding: 11px 10px;
  background: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #545454;
  width: 100%;
  position: relative;
}
#assignment-unlocker-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.locked {
  background-color: #f9f9f9;
  color: #aaa;
}
#assignment-unlocker-button.locked {
  cursor: not-allowed;
}
#assignment-unlocker-button.locked:hover {
  background: #fff;
}
.lockIcon {
  width: 17px;
  opacity: 30%;
}
.accordion-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.close-accordion .expand_icon {
  display: flex;
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  height: 20px;
}
.expand_icon svg {
  width: 20px;
  height: 20px;
}
.accordion.active .close-accordion .expand_icon svg {
  fill: #fff !important;
}
.close-accordion .expand_icon svg {
  fill: #006CFF;
}
.close-accordion .expand_icon:hover svg {
  animation: spin 2s linear infinite;
}
.accordion.open .close-accordion {
  display: none;
}
.accordion.open .hide {
  display: block;
}
.accordion.active .auto-btn-open {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
}
.accordion.active .input-group {
  background: #006CFF !important;
}
.accordion.open input {
  border-color: #005b99 !important;
  max-width: 100px;
}
.hide {
  display: none;
}
.auto-btn-open {
  background: #999999;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 0px solid #0000001A;
  border-radius: 12px;
  padding: 10px;
}
.auto-btn-open h3 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #fff;
  margin: 2px 0;
  position: relative;
}
.auto-btn-open h3 img {
  position: absolute;
  right: 3px;
}
.auto-btn:hover {
  background: #f7f7f7;
}
.dash-separator {
  color: #ffffff4D;
  margin-block: auto;
}
.input-group {
  background: #a1a1a1;
  padding: 7px;
  margin-top: 10px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: default;
  flex-wrap: wrap;
}
.dark-mode .input-group {
  background: #7C7C7C;
}
.input-group label {
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
  text-wrap: nowrap;
}
.input-group .input-field {
  border: 0;
  background: #ffffff4D;
  color: #fff;
  margin-block: 2px;
  border-radius: 5px !important;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: center;
}
.input-group .input-field span {
  font-size: 12px;
}
.input-group input {
  width: 60px;
}
.input-group .input-field:focus {
  outline: none;
  color: #fff;
  border: 0 !important;
}
.inputs-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.input-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.accordion {
  margin-bottom: 10px;
  cursor: pointer;
}
#tooltip {
  position: fixed;
  z-index: 1000000;
  background-color: rgb(108, 100, 249);
  padding: 5px;
  border-radius: 8px;
  display: none;
  transform: translateY(-50%);
  color: white;
  font-size: 10px;
}
#tooltip::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 0;
  top: 50%;
  border: 5px solid transparent;
  border-left: 0;
  border-right: 5px solid transparent;
  border-right-color: rgb(108, 100, 249);
  transform: translate(-100%, -50%);
}
.btn1 {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
  border: 1px solid #0000001A;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #fff;
}
.btn2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 1px solid #0000001A;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #545454;
  opacity: .8;
}
.auto-btn-group h3 img {
  position: absolute;
  right: 12px;
}
.darkimg {
  display: none;
}
.accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #00a6ff 0%,
      #006CFF 100%) !important;
  color: #fff;
}
.accordion.active .close-accordion img.white-arrow {
  display: inline-block;
}
.auto-btn-open > h3 > img.white-arrow {
  display: inline-block;
}
.accordion.active .close-accordion img.green {
  display: none;
}
.fancybox__container {
  z-index: 99999999999 !important;
}
.advance-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#advanceOverlay {
  background-color: #232323;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#advance-box-cancel {
  width: 50%;
  background-color: #ff6161;
  color: #fff;
  border: none;
  padding: 3px;
  border-radius: 5px;
  font-size: 18px;
}
.advance-modal-title {
  color: #fff;
}
#course_title_select {
  color: white;
  background-color: #424242;
  border-radius: 5px;
  padding: 7px;
  width: 350px;
  outline: none;
}
.collapse-container {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 1000px;
  border-radius: 0px 0px 31px 31px;
  box-shadow: 0px 4px 24px 0px #00000040;
  position: fixed;
  z-index: -1;
  top: 94px;
}
.collapse-btn {
  outline: none;
  background: transparent;
  border: none;
}
.collapse-btn:hover svg {
  scale: 1.05;
}
.collapse-btn svg {
  transition: rotate 0.2s ease-out;
  transform: rotate(270deg);
}
.ui-collapsed {
  max-height: 0;
}
.light-bg {
  background: #F3F3F3;
}
.dark-bg {
  background: #141517;
}
.custom-tooltip {
  position: absolute;
  max-width: 200px;
  right: -10px;
  top: -70px;
  background: #fff;
  color: #1b1b1b;
  padding: 5px;
  border-radius: 5px;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s;
  font-size: 12px;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  pointer-events: none;
}
.main-container.dark-mode .custom-tooltip {
  background: #242526;
  color: #fff;
}
.main-container.dark-mode .lockIcon {
  fill: #707070;
}
.main-container.dark-mode .locked {
  background-color: #37393a !important;
  color: #707070;
}
.custom-select {
  flex: 1;
  justify-content: space-between;
  display: flex;
  align-items: center;
  position: relative;
}
.custom-select button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 5px;
}
.custom-select svg {
  width: 16px;
  fill: white;
  margin-left: 5px;
}
.custom-options {
  position: absolute;
  background-color: #f9f9f9;
  color: #545454;
  max-height: 0px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 5px;
  transition: max-height 0.3s ease-in-out !important;
  list-style: none;
  padding: 0;
  font-size: 12px;
  margin-top: -7px;
  box-shadow: 0px -4px 24px 0px #00000040;
}
.dark-mode .custom-options {
  background-color: #242526;
  color: #fff;
}
.opened.custom-options {
  max-height: 200px;
}
.custom-options li {
  padding: 5px;
}
.custom-options li:hover {
  background-color: #006CFF;
  color: white;
}
.revolt-unlocked-tag {
  color: #111;
  border: 2px solid #111;
  font-weight: bold;
  font-family: Inter, sans-serif;
  pointer-events: none;
  border-radius: 20px;
  padding: .10em .60em;
}
.dark .revolt-unlocked-tag {
  color: #eee;
  border: 2px solid #eee;
}
.advance-inputGroup {
  justify-content: flex-start;
  gap: 10px;
}
.advance-inputGroup > .inputs-wrapper,
.advance-inputGroup > .custom-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input.input-field {
  padding: 0;
}
button.input-field {
  margin-left: 10px;
  text-align: center;
}
.custom-options.customleft {
  left: 22px;
}
.custom-options.customright {
  right: 17px;
}
.bug_icon {
  width: 20px;
  height: 20px;
  opacity: 30%;
}
.main-container.dark-mode .bug_icon {
  fill: #969696;
}
.icons-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}
.tooltip-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.tooltip-wrapper .custom-tooltip {
  top: -30px;
  right: -10px;
}
.menu-list {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.footers .links-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.footers .links-wrapper a svg {
  display: flex;
  align-items: center;
}
.footers .links-wrapper a:hover svg {
  scale: 1.05;
}
.settings-btn {
  background: transparent;
  border: none;
  margin-inline: 10px;
  display: flex;
}
.settings-btn svg {
  width: 30px;
}
.settings-btn:hover svg {
  animation: rotate 0.6s;
}
.settings-btn svg path {
  fill: #A6A6A6;
}
.settings-dropdown {
  position: fixed;
  right: 0;
  padding: 3px 12px 3px 10px;
  box-shadow: 0px 2px 10px 0px #00000040;
  z-index: -1;
  border-radius: 5px 31px 31px 5px;
  background: #fff;
  display: flex;
  align-items: center;
  gap: 15px;
  transition:
    max-width 0.6s,
    opacity 0.6s,
    transform 0.6s;
  opacity: 0;
  pointer-events: none;
}
.settings-dropdown.opened {
  opacity: 1;
  transform: translateX(99%);
  pointer-events: all;
}
.dark-mode .settings-dropdown {
  background: #242526;
}
.dark-mode .setting-btn {
  background: #A6A6A6;
}
.dark-mode .svg-icon {
  fill: #242526;
}
.settings-dropdown .settings-btn svg path {
  fill: #fff;
}
.settings-dropdown .settings-btn {
  background: #242526;
}
.svg-icon {
  width: 17px;
  height: 17px;
  fill: #A6A6A6;
}
.setting-btn {
  background: #F3F3F3;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  border: none;
}
.flex-center,
.setting-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-separator {
  border-left: 1px solid #A6A6A6;
  height: 20px;
}
.tippy-box[data-theme~=customtippy] {
  background: #eee;
  color: #111;
}
.tippy-box[data-theme~=customtippy] .tippy-arrow {
  color: #eee;
}
.dark .tippy-box[data-theme~=customtippy] {
  background: #242526;
  color: #fff;
}
.dark .tippy-box[data-theme~=customtippy] .tippy-arrow {
  color: #242526;
}
.palette-menu {
  background: #fff;
  position: fixed;
  display: flex;
  padding: 5px;
  gap: 10px;
  top: 0;
  transform: translateY(-110%);
  opacity: 0;
  pointer-events: none;
  border-radius: 5px;
}
.palette-menu.opened {
  opacity: 1;
  pointer-events: all;
}
.dark-mode .palette-menu {
  background: #242526;
}
.theme-option {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  cursor: pointer;
}
.theme0 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #00A6FF 0%,
      #006CFF 100%);
}
.theme1 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #FF4E50 0%,
      #FF0000 100%) !important;
}
.theme2 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #FFA500 0%,
      #FF7F00 100%) !important;
}
.theme3 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #2fe572 0%,
      #02b702 100%) !important;
}
.theme4 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #FF80BF 0%,
      #FF69B4 100%) !important;
}
.theme5 .accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #B026FF 0%,
      #8A2BE2 100%) !important;
}
.theme0.main-container.dark-mode .darkbtn {
  border: 2px solid #006CFF !important;
  color: #006CFF !important;
}
.theme1.main-container.dark-mode .darkbtn {
  border: 2px solid #FF4E50 !important;
  color: #FF4E50 !important;
}
.theme2.main-container.dark-mode .darkbtn {
  border: 2px solid #FFA500 !important;
  color: #FFA500 !important;
}
.theme3.main-container.dark-mode .darkbtn {
  border: 2px solid #2fe572 !important;
  color: #2fe572 !important;
}
.theme4.main-container.dark-mode .darkbtn {
  border: 2px solid #FF80BF !important;
  color: #FF80BF !important;
}
.theme5.main-container.dark-mode .darkbtn {
  border: 2px solid #B026FF !important;
  color: #B026FF !important;
}
.theme0.light-mode .lightbtn {
  border: 2px solid #006CFF !important;
  color: #006CFF !important;
}
.theme1.light-mode .lightbtn {
  border: 2px solid #FF4E50 !important;
  color: #FF4E50 !important;
}
.theme2.light-mode .lightbtn {
  border: 2px solid #FFA500 !important;
  color: #FFA500 !important;
}
.theme3.light-mode .lightbtn {
  border: 2px solid #2fe572 !important;
  color: #2fe572 !important;
}
.theme4.light-mode .lightbtn {
  border: 2px solid #FF80BF !important;
  color: #FF80BF !important;
}
.theme5.light-mode .lightbtn {
  border: 2px solid #B026FF !important;
  color: #B026FF !important;
}
.dark-mode .lightbtn svg,
.light-mode .darkbtn svg {
  fill: #DDD !important;
}
.theme0 .accordion.active .input-group {
  background: #00A6FF;
}
.theme1 .accordion.active .input-group {
  background: #FF4E50 !important;
}
.theme2 .accordion.active .input-group {
  background: #FFA500 !important;
}
.theme3 .accordion.active .input-group {
  background: #2fe572 !important;
}
.theme4 .accordion.active .input-group {
  background: #FF80BF !important;
}
.theme5 .accordion.active .input-group {
  background: #B026FF !important;
}
.theme0 .custom-options li:hover {
  background-color: #006CFF !important;
}
.theme1 .custom-options li:hover {
  background-color: #FF4E50 !important;
}
.theme2 .custom-options li:hover {
  background-color: #FFA500 !important;
}
.theme3 .custom-options li:hover {
  background-color: #2fe572 !important;
}
.theme4 .custom-options li:hover {
  background-color: #FF80BF !important;
}
.theme5 .custom-options li:hover {
  background-color: #B026FF !important;
}
.logout-btn {
  transition: none;
}
.logout-btn svg {
  transition: none;
}
.logout-btn:hover svg {
  fill: #ac0000;
}
.logout-btn:hover {
  background: transparent;
}
.accordion.active {
  animation: pulse .5s;
  border-radius: 12px;
}
.theme0 {
  --pulse-color: rgba(0, 166, 255, 0.7);
}
.theme1 {
  --pulse-color: rgba(255, 78, 80, 0.7);
}
.theme2 {
  --pulse-color: rgba(255, 165, 0, 0.7);
}
.theme3 {
  --pulse-color: rgba(50, 255, 126, 0.7);
}
.theme4 {
  --pulse-color: rgba(255, 128, 191, 0.7);
}
.theme5 {
  --pulse-color: rgba(221, 160, 221, 0.7);
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--pulse-color);
  }
  100% {
    box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
  }
}
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #d4d4d4 0%,
      #d3d3d3 100%);
  border-radius: 10px;
}
.theme0 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #00A6FF 0%,
      #006CFF 100%);
}
.theme1 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #FF4E50 0%,
      #FF0000 100%);
}
.theme2 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #FFA500 0%,
      #FF7F00 100%);
}
.theme3 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #2fe572 0%,
      #02b702 100%);
}
.theme4 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #FF80BF 0%,
      #FF69B4 100%);
}
.theme5 ::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #B026FF 0%,
      #8A2BE2 100%);
}
#instant-exam {
  box-shadow: 0px 0px 10px 1px #006CFF;
  border-radius: 12px;
}
.theme0 #instant-exam {
  box-shadow: 0px 0px 10px 1px #006CFF;
}
.theme1 #instant-exam {
  box-shadow: 0px 0px 10px 1px #FF4E50;
}
.theme2 #instant-exam {
  box-shadow: 0px 0px 10px 1px #FFA500;
}
.theme3 #instant-exam {
  box-shadow: 0px 0px 10px 1px #2fe572;
}
.theme4 #instant-exam {
  box-shadow: 0px 0px 10px 1px #FF80BF;
}
.theme5 #instant-exam {
  box-shadow: 0px 0px 10px 1px #B026FF;
}
.new-tag {
  background: #F24444;
  color: #fff;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  margin-block: -2px;
}
.new-tag.pos1 {
  position: absolute;
  top: 0;
  right: -10px;
  transform: rotate(30deg);
}
.new-tag.pos2 {
  position: absolute;
  top: 0;
  left: 10px;
  transform: translateY(-50%);
}
