@import "https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap";

/* src/styles.css */
:root {
  --primary-clr: #FFFFFF;
  --text-clr: #000000;
  --gradient:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
  --box-shadow-clr: #0000001A;
}
#ues-minimized-ui {
  top: 93%;
  left: 10px;
  cursor: pointer;
}
#ues-minimized-ui > img {
  user-select: none;
}
#ues-draggable-ui *:not(.bx) {
  font-family: "Poppins", sans-serif !important;
}
#ues-draggable-ui * {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
}
#ues-draggable-ui {
  position: absolute;
  z-index: 99999998;
  border-radius: 18px;
  width: 325px;
  left: 100px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  transition: opacity 250ms ease-in-out;
  line-height: 1.5;
  opacity: 1;
  transform: scale(0.9);
}
#ues-minimized-ui {
  position: absolute;
  z-index: 99999998;
  border-radius: 100%;
  transition: opacity 250ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
}
#ues-header-draggable-ui {
  padding: 10px;
  cursor: move;
  z-index: 99999999;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 18px;
  font-weight: 500;
  background-color: var(--primary-clr) !important;
  color: var(--text-clr);
  display: flex;
  gap: 10px;
  align-items: center;
  height: 75px;
}
#ues-content-draggable-ui {
  overflow: hidden;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -1px 3px 9px var(--box-shadow-clr) inset;
  background-color: var(--primary-clr);
  z-index: -2;
  position: relative;
}
.r-logo {
  height: 60px;
  border-radius: 50%;
}
.modules-container {
  z-index: -3;
  position: relative;
}
.modules-container::-webkit-scrollbar {
  width: 5px;
}
.modules-container::-webkit-scrollbar-thumb {
  background: var(--gradient);
  border-radius: 20px;
}
.modules-container::-webkit-scrollbar-track {
  background: #c8c8c8;
}
.modules-container {
  height: 275px;
  overflow-y: scroll;
}
body {
  font-family: "Poppins", sans-serif;
}
.main-container.dark-mode .header {
  background: #242526;
  box-shadow: 0px 4px 24px 0px #000000BF;
}
.main-container.dark-mode .brand-name h3 {
  color: #fff;
}
.main-container.dark-mode .brand-name p {
  color: #fff;
}
.main-container.dark-mode .brand-name p span {
  color: #fff;
}
.main-container.dark-mode .footers {
  background: #242526;
  box-shadow: 0px 4px 24px 0px #000000BF;
}
.main-container.dark-mode .lightbtn {
  border: 2px solid #323232;
  background: #242526;
  color: #A6A6A6;
}
.main-container.dark-mode .darkbtn {
  background: #242526;
  border: 2px solid #195C8A;
  color: #1F9CB8;
}
.main-container.dark-mode .close-accordion,
.main-container.dark-mode .btn2 {
  background: #242526;
  border: 0px solid #0000001A;
  box-shadow: 0px 4px 8px 0px #0000001A;
  color: #fff;
}
.main-container.dark-mode .auto-btn:hover {
  background: #2a2b2c;
}
.main-container.dark-mode .btn2:hover {
  background: #3b465e;
}
.main-container.dark-mode .lightimg {
  display: none;
}
.main-container.dark-mode .darkimg {
  display: block;
}
.main-container {
  width: 375px;
  height: 612px;
  border-radius: 31px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 24px 0px #00000040;
}
.header {
  width: 375px;
  height: 95px;
  border-radius: 31px 31px 0px 0px;
  display: flex;
  vertical-align: middle;
  align-items: center;
  justify-content: space-between;
  background: #FFFFFF;
  padding: 0 20px;
}
.header .wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.header .control-box {
  position: absolute;
  right: -13px;
  filter: drop-shadow(0px 4px 24px #00000040);
}
.header .control-box .minimize {
  outline: none;
  width: 25px;
  height: 25px;
  border-radius: 12px;
}
.logo h1 {
  font-weight: bold;
  font-size: 40px;
  border-right: 2px solid #858585;
  padding-right: 10px;
}
.brand-name {
  padding-left: 10px;
}
.brand-name h3 {
  font-family: Poppins;
  font-weight: 600;
  line-height: 20px;
  color: #000000;
  margin: 0px;
  height: auto;
  font-size: 16px;
  text-align: left;
}
.brand-name p {
  font-family: Poppins;
  font-weight: 600;
  line-height: 21px;
  color: #545454;
  margin: 0px;
  font-size: 12px;
  text-align: left;
  transition: all 0.2s ease-in-out;
}
.brand-name p span {
  color: #545454;
}
.footers {
  width: 375px;
  height: 136px;
  border-radius: 0px 0px 31px 31px;
  border: 0px 0px 1px 0px;
  box-shadow: 0px 4px 24px 0px #00000040;
  background: #FFFFFF;
  text-align: center;
  padding: 15px 0;
}
.main-section {
  height: calc(591px - 210px);
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 15px;
  position: relative;
}
::-webkit-scrollbar {
  width: 5px;
}
.light::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.main-section.dark::-webkit-scrollbar-track {
  background: #0F1521;
}
::-webkit-scrollbar-thumb {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
}
::-webkit-scrollbar-thumb:hover {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
}
.lightbtn {
  border: 2px solid #1F9CB8;
  padding: 9px 15px 9px 37px;
  border-radius: 11px;
  color: #1F9CB8;
  margin-right: 10px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  display: inline-block;
  height: auto;
  position: relative;
}
.lightbtn:hover,
.darkbtn:hover {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -o-transform: scale(1.02);
}
button.lightbtn img {
  position: absolute;
  left: 6px;
  top: 6px;
}
.darkbtn {
  border: 2px solid #DDDDDD;
  padding: 9px 15px 9px 37px;
  border-radius: 11px;
  color: #999999;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  text-align: left;
  display: inline-block;
  height: auto;
  position: relative;
}
button.darkbtn img {
  position: absolute;
  left: 6px;
  top: 6px;
}
.copyright {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #999999;
}
.menu-icon p {
  padding: 0px;
  margin: 3px;
}
.menu-icon {
  margin-top: 20px;
}
.close-accordion {
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 0px solid #0000001A;
  border-radius: 12px;
  padding: 11px 10px;
  background: #fff;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #545454;
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.accordion-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.close-accordion .expand_icon {
  cursor: pointer;
  border: none;
  background: transparent;
  padding: 0;
  height: 20px;
}
.expand_icon svg {
  width: 20px;
  height: 20px;
}
.accordion.active .close-accordion .expand_icon svg {
  fill: #fff;
}
.close-accordion .expand_icon svg {
  fill: #1e94b2;
}
.close-accordion .expand_icon:hover svg {
  animation: spin 2s linear infinite;
}
.accordion.open .close-accordion {
  display: none;
}
.accordion.open .hide {
  display: block;
}
.accordion.active .auto-btn-open {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
}
.accordion.active .input-group {
  background: #17607F;
}
.accordion.open input {
  border-color: #17607F !important;
  max-width: 100px;
}
.hide {
  display: none;
}
.auto-btn-open {
  background: #999999;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 0px solid #0000001A;
  border-radius: 12px;
  padding: 10px;
}
.auto-btn-open h3 {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #fff;
  margin: 2px 0;
  position: relative;
}
.auto-btn-open h3 img {
  position: absolute;
  right: 3px;
}
.auto-btn:hover {
  background: #f7f7f7;
}
.dash-separator {
  color: #ffffff4D;
  margin-block: auto;
}
.input-group {
  background: #7C7C7C;
  padding: 7px;
  margin-top: 10px;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-group label {
  font-family: Poppins;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
  color: #FFFFFF;
}
.input-group input {
  border: 0;
  background: #ffffff4D;
  color: #fff;
  margin-block: 4px;
  border-radius: 5px !important;
  width: 50px;
  box-shadow: none;
  -webkit-box-shadow: none;
  text-align: center;
}
.inputs-wrapper {
  display: flex;
  gap: 1em;
}
.input-group input:focus {
  outline: none;
  box-shadow: 0px 0px 2px #1F9CB8;
  border: 0 !important;
}
.input-wrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease-in-out;
}
.accordion {
  margin-bottom: 5px;
  cursor: pointer;
}
#tooltip {
  position: fixed;
  z-index: 1000000;
  background-color: rgb(108, 100, 249);
  padding: 5px;
  border-radius: 8px;
  display: none;
  transform: translateY(-50%);
  color: white;
  font-size: 10px;
}
#tooltip::before {
  content: "";
  position: absolute;
  display: block;
  width: 0px;
  left: 0;
  top: 50%;
  border: 5px solid transparent;
  border-left: 0;
  border-right: 5px solid transparent;
  border-right-color: rgb(108, 100, 249);
  transform: translate(-100%, -50%);
}
.btn1 {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%);
  border: 1px solid #0000001A;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #fff;
}
.btn2 {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px 0px #0000001A;
  border: 1px solid #0000001A;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #545454;
  opacity: .8;
}
.auto-btn-group h3 img {
  position: absolute;
  right: 12px;
}
.darkimg {
  display: none;
}
.accordion.active .close-accordion {
  background:
    linear-gradient(
      180deg,
      #1F9CB8 0%,
      #195C8A 100%) !important;
  color: #fff;
}
.accordion.active .close-accordion img.white-arrow {
  display: inline-block;
}
.auto-btn-open > h3 > img.white-arrow {
  display: inline-block;
}
.accordion.active .close-accordion img.green {
  display: none;
}
.fancybox__container {
  z-index: 99999999999 !important;
}
.advance-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#advanceOverlay {
  background-color: #232323;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
}
#advance-box-cancel {
  width: 50%;
  background-color: #ff6161;
  color: #fff;
  border: none;
  padding: 3px;
  border-radius: 5px;
  font-size: 18px;
}
.advance-modal-title {
  color: #fff;
}
#course_title_select {
  color: white;
  background-color: #424242;
  border-radius: 5px;
  padding: 7px;
  width: 350px;
  outline: none;
}
.collapse-container {
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  max-height: 100%;
  border-radius: 0px 0px 31px 31px;
}
.collapse-btn {
  outline: none;
  background: transparent;
  border: none;
}
.collapse-btn svg {
  transition: rotate 0.2s ease-out;
  transform: rotate(270deg);
}
.ui-collapsed {
  max-height: 0;
}
.light-bg {
  background: #F3F3F3;
}
.dark-bg {
  background: #3a3b3c;
}
.menu-list {
  display: flex;
  gap: 5px;
  justify-content: center;
}
.Revolt-dark-mode :root,
[data-bs-theme=light] {
  --bs-body-bg: #242526 !important;
  --bs-light-rgb:
    36,37,38 !important;
}
.Revolt-dark-mode .home-page-background {
  background-color: #242526 !important;
}
.Revolt-dark-mode .sle-card.card {
  background-color: #3a3b3c !important;
}
.Revolt-dark-mode .card {
  --bs-card-color: #fff !important;
}
.Revolt-dark-mode :root {
  --bs-body-color: #fff !important;
}
.Revolt-dark-mode .progress-label {
  color: #fff !important;
}
.Revolt-dark-mode .card-subject {
  color: #adadad !important;
}
.Revolt-dark-mode .navbar {
  background-color: #242526 !important;
  border-bottom: 3px solid #3a3b3c !important;
}
.Revolt-dark-mode .header-icon {
  color: #fff !important;
}
.Revolt-dark-mode .profile-button {
  background-color: #3a3b3c !important;
  color: #fff !important;
}
.Revolt-dark-mode .footer a:link,
.footer a:visited {
  color: #fff !important;
  text-decoration: none !important;
}
.Revolt-dark-mode .dropdown-menu {
  background-color: #242526 !important;
}
.Revolt-dark-mode .nav-link {
  color: #fff !important;
}
.Revolt-dark-mode .nav-link:active {
  background-color: #242526 !important;
}
.Revolt-dark-mode .sidebar .nav-link.active {
  background-color: #242526 !important;
}
.Revolt-dark-mode .ActivityTile-border-default {
  border: 2px solid #444647;
  background-color: #d0d6db;
}
.Revolt-dark-mode .header .courseware {
  background-color: #242526 !important;
}
.Revolt-dark-mode .ActivityTile-day,
.ActivityTile-month {
  color: #fff !important;
}
.Revolt-dark-mode .page-title {
  background-color: #242526 !important;
  border-bottom: 1px solid #444647 !important;
}
.Revolt-dark-mode .sidebar {
  background-color: #242526 !important;
  border-right: 1px solid #444647 !important;
}
.Revolt-dark-mode .btn-primary {
  background-color: #0982f8 !important;
  border-color: #0982f8 !important;
}
.Revolt-dark-mode .btn-outline-primary {
  background-color: #0982f8 !important;
  border-color: #0982f8 !important;
  color: #fff !important;
}
.Revolt-dark-mode .ActivityTile-status-completed {
  background-color: #3a3b3c !important;
}
.Revolt-dark-mode .font-weight-bold {
  color: #ffffff !important;
}
.Revolt-dark-mode .h2.my-0.ml-2 {
  color: #fff !important;
}
.Revolt-dark-mode .container-progress {
  background-color: #2d2f33 !important;
}
.Revolt-dark-mode .ActivityTile-border-gated {
  border: 2px solid #444647 !important;
  background-color: #3a3b3c !important;
  opacity: 50% !important;
}
.Revolt-dark-mode .mainhead {
  background-color: #0982f8 !important;
}
.Revolt-dark-mode .activityActive.dark {
  background-color: #242526 !important;
}
.Revolt-dark-mode .gradebar-wrap .gradebar {
  background: #3a3b3c !important;
  border: 1px solid #3a3b3c !important;
}
.Revolt-dark-mode .Toolbar {
  background-color: #3a3b3c !important;
}
.Revolt-dark-mode .Played {
  background-image:
    linear-gradient(
      to top,
      #0982f8,
      #4E44C4) !important;
}
.Revolt-dark-mode .Toolbar .FramesList li.FrameRight a {
  filter: hue-rotate(231.4deg) !important;
}
.Revolt-dark-mode .Toolbar .FramesList li.FrameLeft a {
  filter: hue-rotate(231.4deg) !important;
}
.Revolt-dark-mode .Toolbar .FramesList li.FrameCurrent a {
  background-image:
    linear-gradient(
      to top,
      #695cfe,
      #4E44C4) !important;
  background-color: #0982f8 !important;
}
.Revolt-dark-mode .Toolbar .FramesList li.FrameComplete a {
  border: 1px solid #0982f8 !important;
}
.Revolt-dark-mode .Scrubber {
  filter: hue-rotate(231.4deg) !important;
}
.Revolt-dark-mode img.edgenuity-logo {
  filter: brightness(0) invert(.8) !important;
}
